<% if @stops.empty? %>
  <div class="alert alert-info">You haven't chosen any favourite stops yet.</div>
<% end %>

<div class="btn-group btn-group-vertical" style="width:100%;">
  <% @stops.each do |stop| %>
    <div class="btn stopbutton" data-stopid="<%= stop.stop_id %>">
      <a href="stop/<%= stop.stop_id %>">
        <span class="stop-name"><%= stop.stop_name %></span> 
        <div class="real-time clearfix" id="<%= stop.stop_id %>" data-attr="<%= stop.stop_id %>" data-name="<%= stop.stop_name %>"></div>
      </a>
    </div>
    <% end %>
</div>
