<div id="outside" style="display:none;" class="alert alert-info">Your geolocation is outside of the Twin Cities, so I'll use a default location instead. Use the search bar to locate yourself.</div>

<div class="home-container">

  <ul id="viewchanger" class="nav nav-pills" style="margin-bottom:0">
    <li class="active" id="table-list-item">
      <a id="view-table-btn" href="#table-list-item"><i class="icon-list-ul"></i> List</a>
    </li>
    <li id="map-list-item">
      <a id="view-map-btn" href="#map-list-item"><i class="icon-map-marker"></i> Map</a>
    </li>
    <li id="route-list-item">
      <a id="view-route-btn" href="#route-list-item"><i class="icon-compass"></i> Route</a>
    </li>
  </ul>

  <div class="container">     
    <div class="row">
      <div id="view-table" class="span6 views">
        <div id="table-results">

        </div>
        <div style="margin-top:1em;margin-left:5px;" class="legend">
          <%= render 'shared/legend' %>
        </div>
      </div>

      <div id="view-map" class="span6 views">
        <div id="map-canvas"></div>
      </div>

      <div id="view-route" class="span6 views">
        <div class="well route-box">
        <div class="route-input">
          <button class="btn-hide-route btn-danger"><i class="icon-remove"></i></button>
          <button class="btn btn-exchange"><i class="icon-exchange"></i></button>
          <div class="input-prepend control-group origin-container">
            <span class="add-on loc-arrow" data-input="origin"><i class="icon-location-arrow"></i></span>
            <input type="text" name="origin" id="origin" placeholder="Start" value="" class="span2">
          </div>
          <div class="input-prepend control-group destination-container">
            <span class="add-on loc-arrow" data-input="destination"><i class="icon-location-arrow"></i></span>
            <input type="text" name="destination" id="destination" placeholder="Destination" value="" class="span2">
          </div>
          <div>
            <button id="btn-route" class="btn btn-primary"><i class="icon-compass"></i> Route</button>
          </div>
        </div>
        <div class="directions-box"></div>
      </div>
      </div>
    </div>
  </div>
</div>

<% #If fade is added to the modal dialog below, the UI can become unusable if ambiguity is triggered too close to another modal, such as occurs when disambiguitating two addresses in the routing function %>
<div class="modal hide" id="ambiguity">
  <div class="modal-header">
    <button type="button" class="close" id="close-ambiguity" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= image_tag("logo-small.png", :size => "24x24", :alt => "MSP Bus Logo") %>&nbsp;Which location?</h3>
  </div>
  <div class="modal-body" style="text-align:center;">
    <div id="ambiguitybuttons" class="btn-group btn-group-vertical" style="width:100%;">
    </div>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz7GjhrxP5ntdxLX79fi6LaLdn9Lc6LFY&sensor=true">
</script>

<%= javascript_include_tag "realtime" %>
<%= javascript_include_tag "maps" %>

<%= javascript_include_tag "home" %>


