<script type='text/javascript'>
    clientLocation = false;

    if (navigator.geolocation)
    {
        navigator.geolocation.getCurrentPosition(function(position) {
            clientLocation = position.coords;
        });
    }
</script>
<% if @stops.results.empty? %>
  <div class="alert alert-info">No stops found.</div>
<% end %>

<div class="btn-group btn-group-vertical" style="width:100%;">
  <% @stops.results.each do |stop| %>
    <div style="text-align:left;" class="stopbutton btn">
      <a href="stop/<%= stop.stop_id %>">
        <div style="position:absolute;right:5px"><%= (stop.sort[0]*5280).round() unless stop.sort[0].nil? %> ft</div>
        <b><%= stop.stop_name %></b> 
        <div class="real-time" id="<%= stop.stop_id %>" data-attr="<%= stop.stop_id %>"></div>
      </a>
    </div>
    <% end %>
</div>

<%= javascript_include_tag "realtime" %>
