<% if @stops.results.empty? %>
  <div class="alert alert-info">No stops found.</div>
<% end %>
<button id="btn-current-location-small" class="btn btn-info btn-address pull-right"><i class="icon-circle-blank"></i> Find my location</button>
<div class="btn-group btn-group-vertical" style="width:100%;">
  <% @stops.results.each do |stop| %>
    <div style="text-align:left;" class="stopbutton btn">
      <a href="stop/<%= stop.stop_id %>">
        <div style="position:absolute;right:5px"><%= (stop.sort[0]*5280).round() unless stop.sort[0].nil? %> ft</div>
        <b><%= stop.stop_name %></b> 
        <div class="real-time" id="<%= stop.stop_id %>" data-attr="<%= stop.stop_id %>"></div>
      </a>
    </div>
    <% end %>
</div>

<div class="modal hide fade" id="ask">
  <div class="modal-header">
    <button type="button" class="close" id="ask-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><i class="icon-truck"></i>&nbsp;MSP Bus</h3>
  </div>
  <div class="modal-body" style="text-align:center;">
    <p style="text-align:left;">Welcome to the MSP Bus application. If you provide your current location it would greatly enhance your experience, otherwise continue by dismissing this screen.</p>
    <button id="btn-current-location" class="btn btn-info btn-large btn-address"><i class="icon-circle-blank"></i> Find my location</button>

  </div>
 </div>

<div class="modal hide fade" id="error">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><i class="icon-truck"></i>&nbsp;MSP Bus</h3>
  </div>
  <div class="modal-body" style="text-align:center;">
    <p style="text-align:left;">Uh-Oh! Your location service doesnt seem to be working. Did you disable it, or does your device andor browser not support geolocation?</p>
  </div>
</div>

<%= javascript_include_tag "realtime" %>
