<% if @stop.nil? %>
  <div class="alert alert-info">Stop does not exist.</div>
<% else %>

<div class="stop-header">
  <img src="/assets/bus-stop.png">
  <span id="thestop" data-attr="<%= @stop.stop_id %>" style="font-weight:bold;margin:0"><%= @stop.stop_name %></span>
</div>

<table class="table stop-table">
<thead>
  <tr style="font-weight:bold"><th style="padding-left:20px">Rt</th><th>Description</th><th>Arrival</th></tr>
</thead>
<tbody id="<%= params[:id] %>" class="result">
</tbody>
</table>
<div style="margin-top:1em;margin-left:5px;" class="legend">
  <%= render 'shared/legend' %>
</div>
<%= javascript_include_tag "realtime" %>
<%= javascript_include_tag "show_stop" %>

<% end %>
