<% if @stop.nil? %>
  <div class="alert alert-info">Stop does not exist.</div>
<% else %>

<div>
<span id="thestop" data-attr="<%= @stop.stop_id %>" style="font-weight:bold;font-size:1.5em;margin:0"><%= @stop.stop_name %></span>
<span style="margin-left:0.5em;font-size:90%;font-style:italic">(<%= @stop.stop_desc %>)</span>
</div>

<table class="table">
<thead>
  <tr style="font-weight:bold"><td>Rt</td><td>Description</td><td>Arrival</td></tr>
</thead>
<tbody id="<%= params[:id] %>" class="result">
</tbody>
</table>
<div style="margin-top:1em;">
  <b>Arriving in:</b><br>
  <%= render 'shared/arriving' %>
</div>
<%= render 'shared/locations' %>
<%= javascript_include_tag "realtime" %>
<%= javascript_include_tag "show_stop" %>

<% end %>
