<% if @stop.nil? %>
  <div class="alert alert-info">Stop does not exist.</div>
<% else %>

<div class="stop-header">
  <img src="/assets/bus-stop.png">
  <span id="thestop" data-attr="<%= @stop.stop_id %>" style="font-weight:bold;margin:0"><%= @stop.stop_name %></span>
  <div class="btn" id="mapshow" style="float:right;margin-top:0"><img src="/assets/map24.png"></div>
</div>

<table class="table stop-table">
<thead>
  <tr style="font-weight:bold"><th style="padding-left:33px">Rt</th><th>Description</th><th>Arrival</th></tr>
</thead>
<tbody id="<%= params[:id] %>" class="result">
</tbody>
</table>

<div style="text-align:center;font-weight:bold;">Texting? Text &ldquo;<%= @stop.stop_id %>&rdquo; to 832-WAITING.</div>

<div style="margin-top:1em;margin-left:5px;" class="legend">
  <%= render 'shared/legend' %>
</div>

<div class="modal hide fade" id="mapmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= image_tag("logo-small.png", :size => "24x24", :alt => "MSP Bus Logo") %>&nbsp;Stop Location</h3>
  </div>
  <div class="modal-body" style="text-align:center;">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @lat %>,<%= @lon %>&zoom=15&size=500x300&maptype=roadmap&sensor=false&markers=color:blue%7C<%= @lat %>,<%= @lon %>">
  </div>
</div>

<%= javascript_include_tag "show_stop" %>
<%= javascript_include_tag "general_navbar" %>

<% end %>
