<div class="directions-box">
  <button class="btn-hide-route btn-danger"><i class="icon-remove"></i></button>
  <div class="clearfix directions-header-container">
    <h4 class="directions-header pull-left">Route</h4>
    <button class="btn btn-primary pull-right btn-route-back"><i class="icon-reply"></i></button>
  </div>
  
  <div class="directions-leg" style="font-size:11px;" >
  	<% var total_time=0 %>
  	<% var total_distance=0.0 %>
    <% _.each(steps, function(step, index) { %>
    <% console.log(step) %>
    <% total_time=total_time+parseInt(step.duration.text.replace(" min",''),10) %>
    <% total_distance=total_distance+parseFloat(step.distance.text
    	.replace(" mi",'')
    	.replace(/\d* ft/,'0')
    	,10) %>
   	<% console.log(parseFloat(step.distance.text
    	.replace(" mi",'')
    	.replace(/\d* ft/,'0')
    	,10)) %>
   	<% console.log(total_distance) %>
      <div class="directions-step" data-index="<%= index %>">
        <div class="clearfix">
          <i class="pull-left directions-travel-mode-icon <%= determine_travel_mode(step.travel_mode) %>" style="margin:0px 0 4px 0;"></i>&nbsp;
          <% if ( step.transit ) { %>
            <span class="pull-left label">

            	<%= step.transit.line.short_name %>
            	<% if (step.instructions.indexOf("North") != -1){%>
            		<i class="icon-arrow-up"></i>
            	<% } %>
            	<% if (step.instructions.indexOf("South") != -1){%>
            		<i class="icon-arrow-down"></i>
            	<% } %>
            	<% if (step.instructions.indexOf("East") != -1){%>
            		<i class="icon-arrow-right"></i>
            	<% } %>
            	<% if (step.instructions.indexOf("West") != -1){%>
            		<i class="icon-arrow-left"></i>
            	<% } %>
            
            </span><% } %>
          
          <span class="pull-right" style="font-family:OpenSansSemibold;">&nbsp;&nbsp;
          <% if (!step.transit){ %>
            <%= step.duration.text.replace('s','') %> (<%= step.distance.text %>)        	
          <% }else{ %>
          	<%= step.duration.text.replace('s','') %> (<%= step.transit.num_stops %> Stops)
          <% } %>
          </span>
          <% if (step.transit){ %>
          	<br>Get off at <%= step.transit.arrival_stop.name %>
          <% } else if (index==steps.length-1){ %>
            <%= step.instructions
                    .replace('to','to:<br>',1)
                    .replace("/Taxi",'',1)
                    .replace(":<br>",":<span class='directions-end' style='color:white;font-family:OpenSansSemibold;'>",1)
                    .replace(/([^,]*,[^,]*).*/,"$1")
            %>
          </span>
          <% } else { %>
            <%= step.instructions
                    .replace('to','to:<br>',1)
                    .replace("/Taxi",'',1)
            %>
          <% } %>
        </div>
          
      </div>
    <% }); %>
    <div class="directions-step" data-index="<%= steps.length + 1 %>">
      <b style="font-size:12px">About <%= total_time %> min (<%= String(total_distance).replace(/0+(?!\.)\d?/,'',1) %> mi) Total</b>
    </div>
  </div>
</div>
