<div class="directions-box">
  <div class="clearfix">
    <h4 class="pull-left">Directions</h4>
    <button class="btn btn-primary pull-right btn-route-back"><i class="icon-reply"></i></button>
  </div>
  
  <div class="directions-leg">
    <% _.each(steps, function(step, index) { %>
      <div class="directions-step" data-index="<%= index %>">
        <div class="clearfix">
          <span class="pull-left directions-travel-mode-icon <%= determine_travel_mode(step.travel_mode) %>"></span>
          <% if ( step.transit ) { %>
            <span class="pull-left label"><%= step.transit.line.short_name %></span>
          <% } %>
          <span class="pull-right"><%= step.distance.text %></span>
        </div>
        <div>
          <%= step.instructions %>
        </div>
        <% if ( step.transit ) { %>
          <span><a href=""><%= step.transit.num_stops %> Stops</a></span>
        <% } %>
      </div>
    <% }); %>
  </div>
  
</div>