<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="description" content="Real-time bus arrival information for Minneapolis/St. Paul buses" />
  <meta name="keywords" content="msp bus, mspbus, minneapolis bus, st paul bus, twin cities bus, real-time bus, real time bus, realtime bus, bus arrival times, bus times" />
<% if @stop.nil? %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="Content-Language" content="en">
<meta name="description" content="MSP Bus provides real-time arrival information for Minneapolis/St. Paul buses near you, right now" />
<meta name="keywords" content="msp bus, mspbus, minneapolis bus, mpls bus, st paul bus, twin cities bus, real-time bus, real time bus, realtime bus, bus arrival times" />
<title>MSP Bus - Real-time bus arrival info</title>
<meta property="og:title" content="MSP Bus - Real-time bus arrival info" />
<meta property="og:type" content="website" />
<meta property="og:description" content="MSP Bus provides real-time arrival information for Minneapolis/St. Paul buses near you, right now" />
<meta property="og:url" content="mspbus.org/" />
<meta property="og:image" content="mspbus.org/assets/logo-med.png" />
<% else %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="Content-Language" content="en">
<meta name="description" content="Real-time bus arrivals for [stop name] in Minneapolis/St. Paul" />
<meta name="keywords" content="msp bus, mspbus, minneapolis bus, mpls bus, st paul bus, twin cities bus, real-time bus, real time bus, realtime bus, bus arrival times" />
<title><%= @stop.stop_name %>: Real-time bus arrivals - mspbus.org</title>
<meta property="og:title" content="[stop name] Real-time bus arrivals - mspbus.org" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Real-time bus arrivals for [stop name] in Minneapolis/St. Paul" />
<meta property="og:url" content="mspbus.org/stop/[stop#]" />
<meta property="og:image" c<%= @stop.stop_name %>ontent="mspbus.org/assets/logo-med.png" />
<% end %>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  
  
</head>
<body>
  <%= render('shared/navbar') %>
  <div class="app-container container">
    <%= yield %>
    <div class="footer">
      <div class="inner-footer">
        <a href="/about">About</a> &bull; <a href="/feedback">Feedback</a>
      </div>
    </div>
  </div>
  <%= yield :javascript %>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41367617-1', 'mspbus.org');
    ga('send', 'pageview');

  </script>
</body>
</html>
