<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<head>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="keywords" content="msp bus, mspbus, minneapolis bus, mpls bus, st paul bus, twin cities bus, real-time bus, real time bus, realtime bus, bus arrival times" />

  <meta property="og:image" content="http://mspbus.org/assets/logo-med.png" />
  <meta property="og:type" content="website" />

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/logo57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/logo72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/logo114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/logo144.png" />

<% if @stop.nil? %>
  <title>mspbus.org - Real-time bus arrivals</title>
  <meta name="description" content="mspbus.org provides real-time bus arrival information for routes serving the Minneapolis/St. Paul area" />
  <meta property="og:title" content="mspbus.org - Real-time bus arrivals" />
  <meta property="og:description" content="mspbus.org provides real-time bus arrival information for routes serving the Minneapolis/St. Paul area" />
  <meta property="og:url" content="http://mspbus.org/" />
<% else %>
  <title><%= @stop.stop_name %> real-time bus arrivals - mspbus.org</title>
  <meta name="description" content="Real-time bus arrivals for <%= @stop.stop_name %> in Minneapolis/St. Paul" />
  <meta property="og:title" content="<%= @stop.stop_name %> Real-time bus arrivals - mspbus.org" />
  <meta property="og:description" content="Real-time bus arrivals for <%= @stop.stop_name %> in Minneapolis/St. Paul" />
  <meta property="og:url" content="http://mspbus.org/stop/<%= @stop.stop_id %>" />
<% end %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
  
</head>
<body>
  <%= render('shared/navbar') %>
  <div class="app-container container">
    <%= yield %>
    <div class="footer">
      <a href="/about">About</a> &bull; <a href="/feedback">Feedback</a> &bull; <a href="/legal">Legal</a>
    </div>
  </div>
  <%= yield :javascript %>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41367617-1', 'mspbus.org');
    ga('send', 'pageview');

  </script>
</body>
</html>
